<header class="main-header content-wrapper">

  <input type="checkbox" id="menu-checkbox" />

  <nav class="center-wrapper nav-main">

    <a class="blog-logo" href="{{ site.baseurl }}/index.html">{{ site.title }}</a>

    {% for my_page in site.pages %}
      {% if my_page.active %}
        <a href="{{ my_page.url | prepend: site.baseurl }}index.html">{{ my_page.title }}</a>
      {% endif %}
    {% endfor %}
    <a href="https://www.facebook.com/Hydro-Free-Fair-2270318409696425/" target="_blank"><i style="font-size:24px;color: #4267B2;" class="fa fa-facebook-square" aria-hidden="true"></i></a> 
    <a href="https://twitter.com/HydroFair" target="_blank"><i style="font-size:24px;color: #1da1f2;" class="fa fa-twitter-square" aria-hidden="true"></i></a>
    <label for="menu-checkbox" class="toggle-button" data-open="☰" data-close="☰" onclick></label>
  </nav>
</header>

